* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  text-align: center;
  background-color: rgba(117, 177, 180, 0.77);
}